.item-data{
    width: 30%;
    height: 550px;
    border: 1px solid;
    float: left;
    padding: 10px;
    margin: 10px;
    z-index: 1;

}
.image {
    align-items: center;
    width: 60%;
    height: 40%x;
    background-color: white;
}
.product{
    width: 80%;
}

.imgs{
    align-items: center;
    width: 100%;
    height: 60%;
}
.title{
    float: left;
}
.descr{
    font-size: 10px;
}
.cod{
    font-size: 12px;
}
.count{
    align-items: center;
}