.item-datas{
    width: 20%;
    height: 260px;
    border: 1px solid;
    display: flexbox;
    float: left;
    padding: 10px;
    margin: 10px;
    z-index: 1;
    background-color: white;

}
.item-data:hover{
-webkit-box-shadow: -1px -4px 17px 2px rgba(0,0,0,0.52);
-moz-box-shadow: -1px -4px 17px 2px rgba(0,0,0,0.52);
box-shadow: -1px -4px 17px 2px rgba(0,0,0,0.52);
}

.image {
    align-items: center;
    width: 60%;
    height:auto;
    background-color: white;
    margin: auto;
}
.product{
    width: 80%;
}

.imgs{
    align-items: center;
    width: 75%;
    height: 30%;
}
.title{
    float: left;
}
.descr{
    font-size: 10px;
}
.cod{
    font-size: 12px;
}
.count{
    align-items: center;
    float: left;
}
.btnDetalle{
    text-decoration: none;
    background-color:#099c95;
    color: white;
    border: 1px solid #099c95;
    width:auto;
    height:auto;
    margin-top:5px;
    padding: 5px;
    text-align:center;
    border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
}
.btnDetalle:hover{
    background-color:#175b52;
    color:white;
    text-align:center;
    border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
-webkit-box-shadow: -1px -4px 17px 2px rgba(0,0,0,0.52);
-moz-box-shadow: -1px -4px 17px 2px rgba(0,0,0,0.52);
box-shadow: -1px -4px 17px 2px rgba(0,0,0,0.52);
}
.link{
    text-decoration: none;
}