.count{
    display: contents;
    width:100px;
    height:20px;
    border: 1px solid;
    margin-bottom:5px;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
    
}
.contador{
    width:100px;
    height:20px;
    margin-left: 10px;
    margin-right: 10px;
}
.btnCarrito{
    background-color: white;
    color:#099c95;
    border: 1px solid #099c95;
    width:auto;
    height:20px;
    margin-top:5px;
    margin-left: 20px;
    text-align:center;
    border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;

}
.container{
align-items: center;
margin-top: 15px;
width:120px;
height:100px;
border: 1px solid;
display: contents;
text-align:center;
vertical-align:top;
}

.btnCarrito:hover{
    background-color:#175b52;
    color:white;
    text-align:center;
    border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
-webkit-box-shadow: -1px -4px 17px 2px rgba(0,0,0,0.52);
-moz-box-shadow: -1px -4px 17px 2px rgba(0,0,0,0.52);
box-shadow: -1px -4px 17px 2px rgba(0,0,0,0.52);
}
.contador{
    width: 300px;

}
